<h1>Listing zombies</h1>

<% @zombies.each do |zombie| %>
  <%= div_for zombie do %>
  	<%= link_to "Zombie #{zombie.name}", zombie %>
  <% end %>
  <div class="actions">
	  <%= link_to("edit", edit_zombie_path(zombie)) %>
	  <%= link_to("delete", zombie, method: :delete) %>
  </div>
<% end %>

<%= link_to 'New Zombie', new_zombie_path %>
