<h1>Listing zombies</h1>

<div id="zombies">
	<%= render @zombies %>
</div>

<%= form_for(@new_zombie, remote: true) do |f| %>
	<%= f.text_field :name %>
	<%= f .submit %>
<% end %>

<%= link_to 'New Zombie', new_zombie_path %>
