<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @zombie.name %>
</p>

<p>
  <b>Email:</b>
  <%= @zombie.email %>
</p>

<p>
  <b>Decomposition:</b>
  <span id="decomposition"><%= @zombie.decomposition %></span>
</p>

<p>
  <b>Bio:</b>
  <%= @zombie.bio %>
</p>

<p>
  <b>Age:</b>
  <%= @zombie.age %>
</p>

<div id="custom_phase">
	<%= form_for(@zombie, url: custom_decomp_zombie_path(@zombie), remote: true) do |f| %>
		<strong>Custom phase:</strong>
		<%= f.text_field :decomposition %>
		<%= f.submit "Set"%>
	<% end %>
</div>

<div id="custom_phase2">
	<%= form_for(@zombie, url: custom_decomp_zombie_path(@zombie)) do |f| %>
		<strong>Custom phase:</strong>
		<%= f.text_field :decomposition %>
		<%= f.submit "Set"%>
	<% end %>
</div>


<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
